*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

body{
    background-color: #f5f5f5;
}

#header {
    height: 46px;
    background-color: #18C0e6;
}

#header .header-info-user{
    display: inline-block;
    height: 46px;
    background-color: #fff;
    width: 260px;
}

#header .header-info-user img{
    float:left;
    border-radius: 50%;
    height: 38px;
    margin: 5px 10px 5px 20px;
}

#header .header-info-user a{
    height: 46px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    line-height: 46px;
    font-weight: bold;
}

#header .header-info-user i{
    float: right;
    line-height: 46px;
    padding-right: 15px;
}

#header .header-main{
    height: 46px;
    display: inline-flex;
    justify-content: center;
    width: calc(100% - 260px - 259px );
    min-width: 65%;
    position:absolute;
    padding: 0 20%;
}

#header .header-main li{
    list-style: none;
    display: inline-flex;
}

#header .header-main button{
    padding: 10px 30px 9px 30px;
    border-radius: 5px;
    border: 0px;
    margin-top: 4px;
    background-color: #fff;
}
#header .header-main button:hover{
    transform: scale(1.2);
}


#header .header-main i{
    font-size: 20px;
}

#header .header-main .header-main-mainbutton{
    margin: 0 100px;
    margin-top: 4px;
}

#header .header-noti {
    display: inline-block;
    float: right;
    line-height: 46px;
    margin: 0 20px;
}

#header .header-noti a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
#header .header-noti a:hover{
    transform: scale(1.5);
    color: white;
}
#content {
    height: auto;
    display: flex;
    justify-content: space-between;
}

#content .content-left{
    background-color: #fff;
    width: 260px;
    padding-top: 10px;

}

#content .content-left .content-list-meeting{
    padding: 10px;
}

#content .content-left .content-list-meeting .text{
    font-weight: bold;
    display: inline-block;
}

#content .content-left .content-list-meeting .all{
    display: inline;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

#content .content-left a{
    text-decoration: none;
    color: #8a8a8a;
}

#content .content-left .content-list-meeting .content-left-item{
    height: 60px;
    width: 220px;
    background-color: #f0f7ff;
    border-radius: 20px;
    margin: 20px 5px 10px;
}

#content .content-left .content-left-item .time-date{
    font-weight: bold;
    font-size: 13px;
    padding: 10px 0px 5px 30px ;
    color: #8a8a8a;
}

#content .content-left .content-left-item .with{
    padding-left: 30px;
    display: inline;
}

#content .content-left .content-left-item .name{
    display: inline;
    font-weight: bold;
}


.vice-main,
#content .content-main{
    display: inlfline;
    width: 1000px;
    height: auto;
}

.vice-main .edit-infor-title,
#content .content-main .content-main-title{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

.crete-rate{
    display: flex;
    flex-direction: column;


    width: 95%;
    height: 650px;
    min-height: 650px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    margin-left: 2.5%;
    margin-bottom: 10px;
    box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
}
.crete-rate .list-rate{
    display: block;
    width: 95%;

}
.crete-rate .rate {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #70d3f4;
    margin-top: 15px;
    position: relative;
    border-radius: 10px;
    text-align: left;
    line-height: 40px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);

}
.avata-host{
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 7px;
}

.crete-rate .rate .ID{
    display: inline;
    margin-left: 10px;
    font-weight: bold;
    padding: auto;
}
.crete-rate .rate .time-date {
    display: inline;
    margin-left: 90px;
    font-weight: bold;
}

.crete-rate .rate .address {
    display: inline;
    margin-left: 50px;
    font-weight: bold;

}
.crete-rate .rate .show-button {
    display: inline;
    color: black;
    margin-left: 60px;
    width: 100px;
    background-color: #70d3f4;
    border: none;
    font-size: 15px;
}
.fa-caret-down{
    margin-left: 5px;
    padding-left: 5px;
    transition: transform 0.3s ease;
}
.fa-caret-down.rotate {
    transform: rotate(180deg);
}
.crete-rate .rate .show-button:hover {
    transform: scale(1.1);
    transition: 0.25s;
    cursor: pointer;
}

.content-list{
    display: block;
    margin-top: 5px;
    font-weight: bold;
    padding-left: 5px;
}
.crete-rate .list{
    display: none;
    margin-top: 5px;
    width: 100%;
    height: auto;

    background-color: #e7e7e7;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.crete-rate  .member{
    display: block;
    height: 40px;
    width: 100%;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 70px;
    line-height: 40px;
    float: left;
}
.crete-rate  .avata-member{
    display: inline;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    position: relative;
    top: 6px;

}
.crete-rate  .Name-member{
    display: inline-block;
    margin-left: 10px;
    padding-right: 10px;
}
.accept-button{
    display: inline;
    height: 40px;
    width: 70px;
    background-color: #75BA80;
    color: white;
    border: none;
    margin-left: 40%;
    border-radius: 15px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.accept-button:hover{
    transition: 0.25;
    transform: scale(1.1);
}
.denied-button{
    display: inline;
    height: 40px;
    width: 70px;
    background-color: #FF0000;
    color: white;
    border: none;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.denied-button:hover{
    transition: 0.25;
    transform: scale(1.1);
}
.abc{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.scrollable-container {
    height: 100%; /* Đặt chiều cao của khu vực cuộn */
    overflow: auto; /* Kích hoạt cuộn */
}



.content-main-edit-infor .edit{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 50px;
    background-color: #e7e7e7;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    color: #000000;
    border-radius: 5px;
    font-size: 16px;
}


#content .content-right {
    height: 100%;
    width: 259px;
    padding-top: 10px;
}

#content .content-right .list-friends{
    height: 50%;
    width: 100%;
}

#content .content-right .list-friends .list-friends-title{
    font-weight: bold;
    color: #000;
    margin: 10px 0;
}

#content .content-right .list-friends .list-friends-item{
    height: 46px;
    border-bottom: 1px #8a8a8a;
    margin: 10px 0;
}

#content .content-right .list-friends .list-friends-item img{
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#content .content-right .list-friends .list-friends-item .name{
    display: inline;
    padding-bottom: 10px;
    line-height: 46px;
    margin-left: 20px;
}

#content .content-right .list-friends .list-friends-item a{
    text-decoration:  none;
    color: #000;
    font-weight: bold;
}

#content .content-right .list-friends .list-friends-item i{
    float: right;
    margin-right: 20px;
    line-height: 46px;
    color: #333333;
}

.vice-main{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background: rgba(0,0,0, 70%);
    width: 100%;
}

.vice-main .edit-infor {
    width: 900px;
    margin-left: calc(50% - 450px);
    margin-top: 60px;
    padding: 50px;
    margin-bottom: 20%;
    position: relative;
}

.vice-main .edit-infor-title{
    font-size: 25px;
    padding-bottom: 20px;
    margin-top: -20px;
    border-bottom: solid 2px #979797;
    margin-bottom: 100px;
}








@media only screen and (max-width:63.9375em){
    #content .content-left{
        display: none;}
    #content .content-right{
        display: none;}
    #header .header-info-user{
        display: none;}
    #header .header-noti {
        display: none;

    }
    #header .header-main{
        width: 100%;
    }

}